.info-text {
  margin-top: 26px;
}
.table {
  margin-bottom: 24px;
  /* margin: 0 auto; */
}
.table-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.info-text-left {
  margin-top: 35px;
}
