.input-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text-item {
  width: 45%;
  margin: 24px;
}

@media (max-width: 640px) {
  .text-item {
    width: 100%;
    margin: 10px;
  }
}
